<!DOCTYPE html>
<html>
  <head>
    <title>Week3CodeReview</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <nav>
    <div class="nav-wrapper">
        <ul id="nav-mobile" class="left">
          <li><%= link_to "Products", products_path %></li>
          <% if current_user && current_user.admin? %>
            <li><%= link_to "Add a Product", new_product_path %></li>
          <% end %>
        </ul>
      <ul id="nav-mobile" class="right">

        <% if current_user %>
          <li>
            <%= link_to cart_path do %>
              <%= current_user.name %>'s Cart | Total items: <span class="cart-total"><%= cart_items %></span>
            <% end %>
          </li>
          <li><%= link_to "Sign out", '/sign_out' %></li>
        <% else %>
          <li>
            <%= link_to cart_path do %>
              Cart | Total items: <span class="cart-total"><%= cart_items %></span>
            <% end %>
          </li>
          <li><%= link_to "Sign up", 'sign_up' %></li>
          <li><%= link_to "Sign in", '/sign_in' %></li>
        <% end %>
      </ul>
    </div>
  </nav>

  <body>
    <div class="container">
      <% if flash[:notice] != nil %>
        <div class="card-panel light-blue accent-2">
          <%= flash[:notice] %>
        </div>
      <% end %>

      <% if flash[:alert] != nil %>
        <div class="card-panel orange accent-2">
          <% if flash[:alert].class == Array %>
            <p><strong>Something went wrong!</strong></p>
            <ul>
              <% flash[:alert].each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          <% else %>
            <%= flash[:alert] %>
          <% end %>
        </div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
